
body {font-family: 'Courier New', Courier, monospace;
    background-color: rgb(3, 34, 34);}
    
    #content {width: 60%;
    margin: auto;
    border:  1px solid rgb(84, 2, 84);
    padding: 15px;
    }
    
    a {
        color: rgb(213, 201, 225);
    }

a:hover {
    color: chocolate;
}

    #banner {
        background-color: rgb(9, 91, 61);
        text-align: center;
        margin: 5px;
    }
    #blogpost {background-color: rgb(91, 60, 6);
    margin: 25px;
    border: 5px;}
    
    .post {margin: 45px;
        padding: 45px;
        border: 5px solid rgb(112, 28, 28);
        background-color: rgb(142, 131, 131);}