
body {font-family: 'Courier New', Courier, monospace;
background-color: aqua;}

#content {width: 60%;
margin: auto;
border:  1px solid purple;
padding: 10;
}


#banner {
    background-color: rgb(15, 204, 135);
    text-align: center;
    margin: 5px;
}
#blogpost {background-color: rgb(224, 146, 9);
margin: 25px;
border: 5px solid red;} 

.post {margin: 45px;
padding: 45px;
border: 2px solid brown;
background-color: rgb(229, 221, 221);}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post img{
    width: 200px;
}
